.results__headerTitle{
    margin-right: 50px;
    text-decoration: inherit;
    color: black;
}

.results__header{
    display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    align-items: flex-start;
    padding: 30px;
    border-bottom: 1px solid lightgray;
}

.results__headerBody > .search > .search__input{
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}

.results__options{
    display: flex;
    align-items: center;
    color: grey;
    margin-top: 20px;
}

.results__optionsLeft,.results__optionsRight{
    display: flex;
}

.results__options a,
.results__optionsRight a{
    text-decoration: none;
    color: gray;
}

/* .results__optionsLeft{
    margin-left: 10px;
} */

.results__optionsRight{
    margin-left: 80px;
}

.results__option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.results__option a{
    margin-left: 5px;
}

.results__allResults{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 50px;
}

.results__resultCount{
    margin-left: 240px;
    color:#70757a;
    font-size: 14px;
}

.results__searchResults{
    margin: 40px 0;
}

.results__resultTitle{
    text-decoration: none;
}

.results__resultTitle:hover{
    text-decoration: underline;
}

.results__resultTitle > h2{
    font-weight: 500;
}

.results__resultSnippet{
    margin-top: 10px;
}

.results__resultImage{
    object-fit: contain;
    height: 20px;
    width: 20px;
    margin-right: 10px;
}