.search__input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    height: 30px;
    padding: 10px 20px;
    border-radius: 999px;
    margin: 0 auto;
    margin-top: 40px;
    width: 75vw;
    max-width: 560px;
}

.search__input > input {
    flex: 1;
    padding: 10px 20px;
    font-size: medium;
    border: none;
    background: #f3f4f5;  /* Theme variable */
}

.search__input > input:focus {
    outline-width: 0;
}

.search__inputIcon{
    color: gray;
}


.search__buttons{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.search__buttons button{
    margin: 5px;
    padding: 12px 25px;
    background-color: #273036;
    border-radius: 999px;
    /* border: 1px solid #a2d9ff; */
    text-transform: inherit;
    color:#ffffff;
}

/* .search__buttons span{
    padding-left: 10px;
} */

.search__buttons button:hover{
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    /* background-color: #0099ff; */
    color: #273036;
}

.search__buttonsName{
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.75px;
}
.search__buttonsHidden{
    display: none !important;
}